<mat-toolbar>
    <h4>Current Booklist</h4>
</mat-toolbar>
<p></p>

<div *ngFor='let book of books' fxFlex="25%">
    <mat-card >
        <mat-card-header>
            <mat-card-title>{{book.subject}}</mat-card-title>
            <mat-card-subtitle>{{book.course_num}} : {{book.course_desc}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row">
                <div fxFlex>
                <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg?default=false">
                </div>
                <div fxFlex="10">&nbsp;</div>
                <div fxFlex><strong>ISBN:</strong> {{book.isbn}}</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

