<mat-toolbar>
    <h4>Current Booklist</h4>
</mat-toolbar>
<p></p>

<div fxLayout="column" fxLayoutGap="5px">
    <mat-accordion displayMode="default" [multi]="false"
                   [hideToggle]="true">
        <mat-expansion-panel [hideToggle]="true" *ngFor="let subj of subjects" (opened)="filterCourses(subj)">
            <mat-expansion-panel-header>{{subj | uppercase}}</mat-expansion-panel-header>
           <ul>
                <li *ngFor="let c of courses ">{{c}}</li>
           </ul>
            <!-- <mat-action-row>
                <button mat-button (click)="filterCourses(subj)">Action1</button>
            </mat-action-row> -->
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div fxLayout="row wrap" fxLayoutGap="5">
    <div *ngFor='let book of books' fxFlex="33">
        <mat-card style="height:95%; background-color: #eeeeee;">
            <mat-card-header>
                <mat-card-title><h3>{{book.subject}}</h3></mat-card-title>
                <mat-card-subtitle><h4>{{book.course_num}} : {{book.course_desc}}</h4></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row">
                    <div fxFlex>
                    <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg?default=false" style="max-height: 210px;">
                    </div>
                    <div fxFlex="10">&nbsp;</div>
                    <div fxFlex><strong>ISBN:</strong> {{book.isbn}}</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

